/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  skip setting html and body height for now
  my portfolio site is responsive and works fine without these set
*/

:root {
  --brand-primary: #79addc;
  --brand-dark: #000;
  --brand-light: #fff;

  --font-dark: var(--brand-dark);
  --font-light: var(--brand-light);

  /* fonts */

  /* Regular, weight: 400 */
  @font-face {
    font-family: "Gill Sans";
    src: url(fonts/gill-sans.otf) format("otf");
    font-weight: 400;
    font-style: normal;
  }

  /* 700 bold */
  @font-face {
    font-family: "Gill Sans";
    src: url(fonts/gill-sans.otf) format("otf");
    font-weight: 700;
    font-style: normal;
  }

  /* italic */
  @font-face {
    font-family: "Gill Sans";
    src: url(fonts/gill-sans-italic.otf) format("otf");
    font-weight: 400;
    font-style: italic;
  }

  /* light */
  @font-face {
    font-family: "Gill Sans";
    src: url(fonts/gill-sans-light.otf) format("otf");
    font-weight: 300;
    font-style: normal;
  }

  /* downloaded via Adobe CC
transferred per https:github.com/echeno/adobe-font-extractor */
  @font-face {
    font-family: "Proxima Nova Extra Condensed Thin";
    src: url(fonts/proxima-nova-extra-condensed-thin.otf) format("otf");
    font-weight: 100;
    font-style: normal;
  }

  /* typography */
  --body-font-family: "Gill Sans, sans-serif";
  --title-font-family: "Proxima Nova Extra Condensed Thin, sans-serif";
}

body {
  font-family: var(--body-font-family);
  /* base font size */
  font-size: 1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: normal;
}

/* font sizes may need to be reduced on mobile */
h1 {
  /* 60px */
  /* font-size: 3.75rem; */
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: var(--title-font-family);
}

h2 {
  font-size: 2.188rem;
  text-transform: uppercase;
  font-family: var(--title-font-family);
}

.container {
  background-color: pink;
  margin: 0 auto;
  width: 80%;

  min-height: 100%;
  /* min-height: 100vh; */
}

nav {
  /* position: fixed;
  left: 0;
  right: 0; */
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-size: 1.25rem;
  color: #000;
  padding-top: 30px;
  border: solid thin;
}
nav .links {
  color: #79addc;
}
nav .links a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

/* TODO: fix gap */
.quote {
  width: 45%;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "client-image quote-text"
    "client-image quote-author";
  /* gap: 1.375rem; */
  gap: 1.25rem;

  /* align-items: center; */
}

.client-image {
  grid-area: client-image;
}

.quote-text {
  grid-area: quote-text;
}

.quote-author {
  grid-area: quote-author;
  text-align: right;
}

footer {
  background-color: #79addc;
  height: auto;
}

footer .footer-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  font-size: 1.25rem;
  color: #fff;
  padding-top: 30px;
  border: solid thin;
}

footer .copyright {
  font-size: 0.75rem;
  color: #ffffff;
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.375rem;
}

@media only screen and (max-width: 768px) {
  nav .logo {
    display: none;
  }

  nav .links {
    justify-content: center;
  }

  footer .copyright {
    display: none;
  }
}
